.colorRadio,
.sizeRadio {
  display: none;
}

.title {
  font-family: Poppins;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.listColor {
  display: flex;
  gap: 0.625rem;
  margin-top: 1rem;
}

.colorCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.colorRadio:checked + .colorOption > .colorCircle::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--bg-checked-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.listSize {
  display: flex;
  gap: 0.75rem;
  text-align: center;
  margin-top: 1rem;
}

.sizeOption {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-bg);
  cursor: pointer;
  justify-content: center;
}

.sizeRadio:checked + .sizeOption {
  background-color: var(--color-text-active);
  color: var(--color-text-secondary);
}
