.colorRadio,
.sizeRadio {
  display: none;
}

.listColor {
  display: flex;
  gap: 0.625rem;
  margin-top: 1rem;
}

.colorCircle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: var(--border-sm) solid var(--color-text-product);
}

.colorRadio:checked + .colorOption > .colorCircle {
  background-image: url('../../assets/images/checked.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.listSize {
  display: flex;
  gap: 0.75rem;
  text-align: center;
  margin-top: 1rem;
}

.sizeOption {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-bg);
  cursor: pointer;
  justify-content: center;
}

.sizeRadio:checked + .sizeOption {
  background-color: var(--color-text-active);
  color: var(--color-text-secondary);
}
