.searchInput {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: var(--border-lg) solid var(--color-text-product);
  border-radius: var(--border-radius);
  width: 100%;
}

.searchInput::placeholder {
  color: var(--color-disable);
  font-size: var(--font-size-md);
}

.input {
  width: 100%;
}
