.searchInput {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: var(--border-lg) solid var(--color-text-product);
  border-radius: var(--border-radius);
  max-width: 250px;
}

.searchInput::placeholder {
  color: var(--color-disable);
  font-size: var(--font-size-md);
}

.searchIcon {
  color: var(--color-text-product);
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
