.link {
  text-decoration: none;
  color: var(--color-text-primary);
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
  display: inline-block;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.container {
  max-width: 90rem;
  padding: 0 7.5rem;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 2.5rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 0.5rem;
  }
}
