.link {
  text-decoration: none;
  color: var(--color-text-primary);
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
  display: inline-block;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}
