.icon-logo {
  background-image: url('../../assets/images/managers/logo-manager.svg');
  padding: 0 45px 45px 0;
  background-repeat: no-repeat;
}

.logo-group {
  display: flex;
  gap: 10px;
  align-items: center;
}
