.btn {
  letter-spacing: 0;
  color: var(--color-text-secondary);
  border: 0.067rem solid;
  border-radius: 1.15rem;
}

.btn-add {
  color: var(--color-text-secondary);
  background-color: var(--color-btn-in);
  border-radius: 0.2rem;
  width: 4.5rem;
  height: 2rem;
  margin-right: 1.3rem;
}

.btn-add:hover {
  background-color: var(--color-btn);
  color: var(--color-primary);
}

.btn-action {
  background-color: var(--color-text-secondary);
  color: var(--color-table);
  text-decoration: none;
}

.btn-action:hover {
  text-decoration: underline;
  color: var(--color-primary);
}
