.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 73.8125rem;
  margin: 0 auto;
  gap: 2.561rem;
  place-items: center;
}

@media (max-width: 64rem) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
  }
}

@media (max-width: 48rem) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
}

@media (max-width: 30rem) {
  .container {
    grid-template-columns: 1fr;
    gap: 0.9375rem;
  }
}
