.listItem {
  list-style-type: none;
  font-family: Mada;
}

.link {
  text-decoration: none;
  color: var(--color-text-primary);
}

.linkActive {
  font-weight: var(--font-weight-bold);
  position: relative;
  padding-bottom: 0.5rem; /* 8px / 16px = 0.5rem */
  color: var(--color-text-active);
}

.linkActive::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0.25rem; /* 4px / 16px = 0.25rem */
  height: 0.25rem; /* 4px / 16px = 0.25rem */
  background-color: var(--color-text-active);
  border-radius: 50%;
}
