.fluidContainer {
  width: 100%;
  background: var(--color-gradient);
}

.banner {
  display: flex;
  flex-direction: column;
  height: 21.75rem; /* 348px / 16 */
  color: var(--color-text-secondary);
}

.banner a {
  color: var(--color-text-secondary);
}

.title {
  font-family: Mada;
  font-size: var(--font-size-xl);
  color: var(--color-text-secondary);
  font-weight: var(--font-weight-bold);
}

.group {
  display: flex;
  width: 100%;
  gap: 2.5rem; /* 40px / 16 */
  justify-content: space-between;
}

.checkout {
  min-width: 23.625rem; /* 378px / 16 */
}

.titleCart {
  font-family: Mada;
  font-size: var(--font-size-lg);
  color: var(--color-text-primary);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2.25rem; /* 36px / 16 */
}

.cart {
  margin-top: 5rem; /* 80px / 16 */
  margin-bottom: 5rem;
}

.emptyGroup {
  display: flex;
  gap: 1rem;
  font-family: Poppins;
  justify-content: space-between;
}

.empty {
  background-color: var(--color-bg);
  width: 100%;
  padding: 2.625rem 1.5rem 2.25rem 1.5rem; /* 42px, 24px, 36px, 24px */
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
}

@media (max-width: 1024px) {
  .container {
    margin: 3rem 0; /* 48px / 16 */
  }

  .group {
    flex-direction: column;
    margin-bottom: 2rem; /* 32px / 16 */
  }

  .emptyGroup {
    flex-direction: column;
  }

  .empty {
    height: 15.31rem;
  }

  .checkout {
    min-width: auto;
  }
}
