.toast {
  position: fixed;
  top: 3rem;
  left: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: Poppins;
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
}

.toast.success {
  background-color: var(--color-primary);
}

.toast.error {
  background-color: var(--color-badge);
}
