@import '../../styles/bases/index.scss';

.table-control {
  display: flex;
  background-color: $color-text-secondary;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 1.4375rem;
  gap: 5.3125rem;
}
