@import '../../styles/bases/index.scss';

.table-control {
  display: flex;
  z-index: 4;
  background-color: $color-text-secondary;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 1.15rem;
  font-family: Roboto;
  position: sticky;
  top: 0;
  gap: 85px;
}
