@import '../../styles/bases/index.scss';

.table-control {
  display: flex;
  z-index: 4;
  background-color: $color-text-secondary;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: calc(23/16);
  gap: 85px;
}
