* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', 'Mada', 'Signika', 'Roboto', sans-serif; /* Fallback font included */
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
