.breadcrumb {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding: 2.5rem 0;
  width: 100%;
  max-width: 100%;
}

.breadcrumbItem {
  display: flex;
  font-size: var(--font-size-sm);
}

.breadcrumbItem:last-child {
  font-family: Mada;
  font-weight: var(--font-weight-bold);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

.breadcrumb a {
  margin-right: 1.5rem;
}
