.breadcrumb {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 1.5rem;
}

.breadcrumbItem {
  font-size: var(--font-size-sm);
}

.breadcrumbItem:last-child {
  font-weight: bold;
}

.breadcrumb a {
  margin-right: 1.5rem;
}
