.breadcrumb {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding: 2.5rem 0;
}

.breadcrumbItem {
  font-size: var(--font-size-sm);
}

.breadcrumbItem:last-child {
  font-weight: bold;
}

.breadcrumb a {
  margin-right: 1.5rem;
}
