@import '../../styles/bases/variable.scss';

.aside__item {
  flex-direction: column;
  justify-content: center;
  height: 60px;
  text-decoration: none;
  display: flex;
  font-family: Roboto;
  font-weight: 400;
  color: $color-text-secondary;
}

.aside__active {
  border-right: 6px solid $color-active-secondary;
  margin-right: -3px;
  font-weight: 700;
}
