@import '../../styles/bases/variable.scss';

.aside__item {
  flex-direction: column;
  justify-content: center;
  height: 60px;
  text-decoration: none;
  display: flex;
  font-family: Roboto;
  font-weight: 400;
  color: $color-text-secondary;
}

.aside__item {
  width: 100%;
  border-right: 3px solid $color-bg-manager;
  font-weight: 400;
}

.aside__active {
  border-right: 3px solid $color-active-secondary;
  font-weight: 700;
  box-shadow: 3px 0px 0px 0px $color-active-secondary;
}
