.endIcon {
  color: var(--color-text-product);
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.startIcon {
  color: var(--color-text-product);
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
