.container {
  gap: 0.8125rem;
  justify-content: space-around;
  height: 5rem; /* 80px / 16 */
  margin-bottom: 2.5rem; /* 40px / 16 */
  padding: 1.0625rem 7.5rem; /* 17px / 16 */
  box-shadow:
    0 0.15625rem 0.3125rem 0 var(--shadow-lg),
    0 0.234375rem 0.78125rem 0 var(--shadow-lg);
}

.group {
  gap: 2.5rem;
  margin-left: auto;
  float: right;
}

.groupIcon {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .container {
    padding: 1.0625rem 1rem;
  }

  .groupInput {
    display: none;
  }
}
