@import '../../styles/bases/index.scss';

.table-cell {
  text-overflow: ellipsis;
  border-bottom: 1px solid $color-bg-wrapper;
  height: 4.25rem;
  padding: 1.5rem 0 1.5625rem 2.3125rem;
  overflow: hidden;
  color: $color-table;
  font-size: 1rem;
}

.table-cell-action {
  display: flex;
  gap: 2.5rem;
}
