.input-container input {
  border: none;
  outline: none;
}

.input-container {
  display: flex;
  border: 1px solid $border-search-color;
  width: 228px;
  height: 40px;
  align-items: center;
  border-radius: 4px;
  padding-left: 15px;
  gap: 8px;
}
