@import '../../styles/bases/variable.scss';

.aside {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: $color-bg-manager;
  max-width: 250px;
  height: 100vh;
  padding: 35px 0 0 35px;
  gap: 57px;
  color: $color-text-secondary;
}
